body {
  background-color: #FFC436;
}
img{
  height: 300px;  
  width: 650px;
 
}

 a{
  background-image:linear-gradient(to right,white,blue);
  border-radius: 20px;
  text-align:center ;
 text-decoration: none;
    font-size: 20px;
    color: navy;
    padding: 15px;
    margin: 25px;

    
}

nav {
    text-align:center ;
  margin: 20px;
}

p:hover{
  transition: 2s ease-in;
  color:black;
  background-color: white;
   font-size: 20px;
  font-family: cursive;
}

p {
 background-color: white;
  color: black;
  padding: 15px;
  border: 5px solid black;
  font-size: 20px;
  font-family: cursive;
} 
.ll{
background-color: black;
  color: black;
  padding: 15px;
 border: 5px solid black; 
}

.knk{
  transform: scale(0.7) ;
}

.knk:hover{
  transform: scale(1.0) translateY(10px) translateX(40px);
  transition: 3s ease-in;
  box-shadow: -12px -10px 10px 1px black ;
  padding: 0px ;
  border: 8px double blue;
  display: block;
  margin: auto;
  width: 50%;
}

.hg{
transform: scale(0.7) ;
}
.hg:hover{
  transform: scale(1.0) translateY(10px) translateX(40px);
  transition: 3s ease-in;
  box-shadow: -12px -10px 10px 1px black ;
  padding: 0px ;
  border: 8px double blue;
  display: block;
  margin: auto;
  width: 50%;
}

.gg {
 transform: scale(0.7) ;
}
.gg:hover{

  transform: scale(1.0) translateY(10px) translateX(40px);
  transition: 3s ease-in;
  box-shadow: -12px -10px 10px 1px black ;
  padding: 0px ;
  border: 8px double blue;
  display: block;
  margin: auto;
  width: 50%;
}

h1{
  text-align: center;
  font-size: 60px;
}

.mm{
background-color: white;
  color: black;
}

h1{
 text-align: center;
  font-size: 60px;
  background-image: linear-gradient(red, green);
  width: 50%;
  margin:auto;
}

.rr{
  background-color: black;
  color: black;
 border: 5px solid black;
}

.rre{
   transition: 2s ease-in;
  color:black;
  background-color: black;
  
}

.tt{
   transition: 2s ease-in;
  color:#FFCAD4;
  background-color: blue;

}

.yy{
   transition: 2s ease-in;
  color:#FFCAD4;
  background-color: yellow;
  
}
